.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--rz-secondary, #007bff);
    color: var(--rz-primary-contrast, white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}
.userAvatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden; /* Wichtig für runde Bilder */
    display: flex;
    align-items: center;
    justify-content: center;
}

    .userAvatarImage img {
        width: 100%; /* Stellt sicher, dass das Bild die volle Breite des Containers ausfüllt */
        height: 100%; /* Stellt sicher, dass das Bild die volle Höhe des Containers ausfüllt */
        object-fit: cover; /* Schneidet das Bild passend zu */
        border-radius: 50%; /* Damit das Bild wirklich rund bleibt */
    }

.menuLabel {
    width: 40px;
    height: 40px;
}

::deep .footer {
    background-color: #2c3e50;
    color: white;
    border-bottom: 2px solid #3498db;
    padding: 0;
}

::deep .footer .row1 {
    padding-top: 0.5rem;
}

.footer .row2 {
    background-color: #34495e;
    padding: 1rem;
}

.copyright {
    color: #bdc3c7;
}